*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "SF Pro Display", sans-serif;
  font-size: 20px;
  color: #3c3b3b;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
a,
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}
a {
  outline: none;
  text-decoration: none;
}
h3 {
  font-size: 20px;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: block;
}
select {
  border: none;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/SFProDisplay-ThinItalic.woff") format("woff");
  font-weight: 300;
}

.App {
  max-width: 1440px;
  margin: 0 auto;
  background: #e5e5e5;
}
.wrapper {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  background: #262626;
  color: #fff;
  padding: 12px 0;
}
.header .wrapper {
  display: flex;
  align-items: center;
}
.contacts {
  font-size: 16px;
  margin: 0 auto;
}
.contacts > div > div {
  display: flex;
  line-height: 28px;
}
.contacts__icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 0 8px 15px 0;
}
.phone {
  background: url(./img/phone.svg) #515151 no-repeat center;
}
.mail {
  background: url(./img/mail.svg) #515151 no-repeat center;
}
.contacts__mail {
  position: relative;
}
.contacts__mail span {
  position: absolute;
  font-size: 14px;
  font-weight: 300;
  top: 16px;
  right: 8px;
}
.buy-btn {
  max-width: 232px;
  width: 100%;
  min-height: 44px;
  background: #68a8d0;
  border-radius: 5px;
  text-align: center;
  line-height: 44px;
  color: #fff;
}
.avatar {
  background: url(./img/avatar.svg) #68a8d0 no-repeat center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-left: 36px;
}
nav {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.line {
  height: 20px;
  border-right: 1px solid #262626;
  opacity: 0.2;
}
.intro {
  width: 100%;
  min-height: 493px;
  background: linear-gradient(91.05deg, #5994ba 14.15%, #adcce0 99%);
  color: #fff;
}
.intro .wrapper {
  position: relative;
  min-height: 493px;
  z-index: 1;
}
.intro .wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
  background: url(./img/image.png) no-repeat right;
}
h1 {
  max-width: 673px;
  font-weight: 500;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-shadow: 3px 1px 0px #3e708f;
  padding: 54px 0 34px;
}
.intro .wrapper section > p:nth-child(even) {
  font-weight: 700;
  margin-bottom: 11px;
}
.intro__offer {
  position: relative;
  transform: translateX(-130px);
  display: flex;
  margin-top: 26px;
}
.good-deal {
  background: #1b567c;
  font-size: 24px;
  line-height: 46px;
  padding: 0 30px 0 130px;
  margin-right: 74px;
  box-shadow: 10px 10px #fe8572, 0 10px #fe8572;
}
.intro__arrow {
  position: absolute;
  left: 350px;
  top: 45px;
}
.intro__dot {
  position: absolute;
  left: 348px;
  top: 43px;
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
}
.intro .wrapper > div > div > span {
  font-weight: 700;
}
.book-btn {
  background: #fa6232;
  box-shadow: 0px 4px 4px rgba(46, 46, 46, 0.27);
  border-radius: 5px;
  padding: 0 30px;
  color: #fff;
  line-height: 44px;
}
.book-btn:hover,
.buy-btn:hover {
  opacity: 0.7;
}
h2 {
  font-size: 48px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.04em;
}
.tarif > .wrapper {
  position: relative;
}
.tarif > .wrapper > h2 {
  margin: 94px 0 57px;
}
.tarif > .wrapper > p:nth-child(2) {
  max-width: 650px;
}
.tarif > .wrapper > :nth-child(3),
.SSL > .wrapper > :nth-child(3) {
  padding: 20px 0 50px;
}
.tarif__options,
.SSL__cards {
  display: flex;
  justify-content: space-between;
}
.tarif__info {
  text-align: center;
  margin: 10px 0 10px;
  position: absolute;
  top: 480px;
  left: 20%;
  z-index: 1;
}
.more-details {
  display: block;
  margin: 15px 0 66px;
  text-align: center;
  text-decoration-line: underline;
  color: #fa6232;
  font-style: italic;
}
.benefits .wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}
.benefits h2,
.prices h2,
.comments h2 {
  text-align: left;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.benefits h2 {
  margin: 47px 0;
}
.benefits__text p img,
.prices__text p img {
  width: 32px;
  height: 32px;
  margin-right: 11px;
}
.benefits__text p,
.prices__text p {
  display: flex;
  font-weight: 600;
  color: #1b567c;
  margin-bottom: 21px;
  max-width: 520px;
}
.CMS {
  background: linear-gradient(to bottom right, #dbe8ef 50%, #c4dce9 50%);
  margin-bottom: 94px;
  padding: 48px 0 44px;
}
.CMS h2,
.SSL h2 {
  padding-bottom: 57px;
}
.CMS p,
.SSL p,
.payment p {
  max-width: 720px;
}
.CMS section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 7%;
  padding-top: 70px;
}
.cms-logo {
  max-width: 190px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.SSL {
  margin-bottom: 94px;
}
.SSL section {
  margin-bottom: 40px;
}
.SSL .book-btn {
  width: 319px;
  margin: 0 auto;
}
.domain-name-and-hosting {
  max-width: 1440px;
  background: url(./img/image2.png) no-repeat top left,
    linear-gradient(
      180deg,
      rgba(124, 180, 216, 0.4) 0%,
      rgba(191, 230, 255, 0) 100%
    );
}
.domain-name > .wrapper > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 223px;
}
.domain-name h2 {
  padding-top: 60px;
}
.domain-name__text {
  max-width: 560px;
  margin: 155px 15px 64px 0;
}
.domain-name__text p,
.hosting__text p,
.comments__text p {
  padding-bottom: 20px;
}
.domain-name__tarifs {
  margin-top: 60px;
  columns: 2;
}
.hosting > .wrapper {
  display: flex;
}
.hosting img {
  padding: 57px 60px 28px 0;
}
.hosting__text {
  max-width: 640px;
  margin-top: 90px;
}
.prices .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 86px 15px 124px;
}
.prices__text > p:first-child {
  font-weight: 400;
  color: #3c3b3b;
  margin: 43px 0 23px;
}
table {
  border-collapse: collapse;
  max-width: 680px;
  width: 100%;
  border: 1px solid #ddd;
  font-weight: 600;
  text-align: center;
}
tr:nth-child(even) {
  background: #e1eef5;
}

tr:nth-child(odd) {
  background: #ffffff;
}
tr:nth-child(even) td:first-child {
  background: #1b567c;
  color: #ffffff;
}
tr:nth-child(odd) td:first-child {
  background: #4a7894;
  color: #ffffff;
}
td {
  padding: 0 2px;
}
td:nth-child(2),
td:nth-child(3) {
  border-right: 1px solid #67a8d2;
}
.VPS-btn {
  max-width: 152px;
  width: 100%;
  height: 44px;
  background: #67a8d2;
  border-radius: 5px;
  text-align: center;
  line-height: 44px;
  color: #fff;
  margin: auto;
}
tr:last-child td:first-child {
  background: #4a7894;
}
tr:last-child td:not(td:first-child) {
  background: #ffffff;
}
.profits {
  background: #dbe8ef;
  padding: 65px 0 80px;
}
.profits .wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.profits h2 {
  margin-bottom: 60px;
}
.profits__card {
  max-width: 283px;
}
.profits__card:last-child {
  max-width: 223px;
}
.profits img {
  margin: auto;
}
.profits h3 {
  font-size: 20px;
  margin: 20px 0 10px;
}
.comments .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 103px 15px 130px;
}
.comments__text {
  max-width: 480px;
  margin: 30px 0 30px;
}
.comments__comment {
  position: relative;
  max-width: 559px;
  width: 100%;
  height: 204px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(46, 46, 46, 0.27);
  border-radius: 10px;
}
.comments__comment p {
  max-width: 469px;
  text-align: center;
  margin: 30px auto 26px;
}
.comments__quotes {
  margin: -20px auto 0;
}
.comments__photo {
  margin: auto;
}
.comments__comment > span {
  font-size: 16px;
  color: #858585;
  position: absolute;
  right: 17px;
  bottom: 14px;
}
.comments__comment > div {
  text-align: center;
  margin: 34px 0 50px;
}
.comments__dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 12px;
  background: #67a8d2;
  opacity: 0.3;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.comments__dot:hover {
  opacity: 1;
}
.questions {
  margin-bottom: 224px;
}
.questions > .wrapper > p {
  max-width: 739px;
  padding: 61px 0 47px;
}
.questions__items {
  columns: 2;
}
.question {
  max-width: 580px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(46, 46, 46, 0.27);
  margin-bottom: 20px;
}
.questions__items :nth-child(3) {
  break-before: column;
}
.question h3 {
  font-size: 20px;
  color: #1b567c;
  display: flex;
  align-items: center;
}
.question img {
  padding: 25px;
}
.question p {
  max-width: 460px;
  margin: 0 20px 0 80px;
  padding: 10px 0 36px;
}
.trail {
  margin: auto;
  max-width: 1020px;
  min-height: 310px;
  background: #1b567c;
  box-shadow: 0px 4px 4px rgba(46, 46, 46, 0.27);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trail p {
  max-width: 909px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.trail p:nth-child(2) {
  max-width: 750px;
  margin: 18px 0 36px;
}
.trail p span {
  color: #fa6232;
}
.trail button {
  padding: 0 55px;
}
.payment {
  background: url(./img/leftarrow.png) no-repeat left 10px,
    url(./img/rightarrow.png) no-repeat right 80px,
    linear-gradient(
      180deg,
      #e5e5e5 100px,
      rgba(124, 180, 216, 0.4) 0%,
      rgba(191, 230, 255, 0) 100%
    );
}
.payment h2 {
  padding: 83px 0 54px;
}
.payment section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 58px 0 119px;
}
.payment section div {
  max-width: 290px;
  width: 100%;
  margin-bottom: 60px;
}
.payment section div img {
  margin: auto;
}
.payment section div:not(:nth-child(4), :nth-child(8)) {
  border-right: 1px solid #67a8d2;
}
footer {
  font-size: 16px;
  background: #262626;
  color: #ffffff;
}
footer .wrapper {
  padding-top: 89px;
}
footer .wrapper > div {
  display: flex;
  flex-wrap: wrap;
}
.footer__description p {
  max-width: 490px;
  color: #858585;
  margin: 15px 54px 38px 0;
}
.footer__contacts > div {
  display: flex;
}
.footer__contacts_icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 9px;
}
.location {
  background: url(./img/location.svg) #515151 no-repeat center;
}
.footer__contacts > div > span {
  color: #858585;
}
.footer__contacts > p {
  margin: 0 35px 25px 39px;
}
.footer__social > div {
  display: flex;
}
.footer__social > div > img {
  margin-left: 20px;
}
.footer__social .report_spam {
  width: 88px;
  height: 31px;
  background: #67a8d2;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  float: right;
  margin-top: 48px;
}
.footer__about h3,
.footer__services h3 {
  color: #858585;
  margin-top: 30px;
  margin-bottom: 10px;
}
.footer__about p {
  font-size: 16px;
  margin: 0 85px 40px 0;
}
footer .wrapper > div:last-child {
  display: flex;
  justify-content: space-between;
  color: #858585;
  opacity: 0.5;
  border-top: 1px solid #858585;
  padding: 25px 0 31px;
  font-size: 14px;
  margin-top: 10px;
}

@media only screen and (max-width: 1220px) {
  .tarif__info {
    position: static;
  }
  .tarif__options,
  .benefits .wrapper,
  .SSL__cards,
  .domain-name > .wrapper > div,
  .hosting > .wrapper,
  .prices .wrapper,
  .profits .wrapper,
  .comments .wrapper {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .domain-name > .wrapper > div {
    margin-bottom: 100px;
  }

  .domain-name__text {
    margin: 0;
  }
  .hosting__text {
    margin-top: 0;
  }
  .comments__comment > div {
    margin-top: 0;
  }
  .payment .wrapper section div {
    border-right: none;
  }
  .footer__social,
  .footer__about,
  .footer__services {
    margin: 30px;
  }
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  h2 {
    font-size: 30px;
  }
  .header .wrapper {
    flex-wrap: wrap;
    justify-content: end;
  }
  .header .wrapper .buy-btn {
    max-width: 150px;
    margin: 15px;
  }
  .contacts {
    padding: 15px;
  }
  nav .wrapper {
    flex-wrap: wrap;
  }
  nav .wrapper a,
  nav .wrapper select {
    padding: 15px;
  }
  .line {
    display: none;
  }
  h1 {
    font-size: 50px;
  }
  .intro .wrapper::before {
    opacity: 0.3;
  }
  .intro__arrow,
  .intro__dot {
    display: none;
  }
  .intro__offer {
    flex-direction: column;
    align-items: center;
    transform: translateX(0);
  }
  .good-deal {
    padding: 0 30px;
    margin-right: 0;
  }

  .intro__btn {
    margin: 20px 0;
  }
  .domain-name__tarifs {
    columns: 1;
  }
  .VPS-btn span {
    display: none;
  }
  .comments__comment {
    height: auto;
  }
  .questions {
    margin: 0 auto 100px;
  }
  .questions__items {
    columns: 1;
  }
  .questions__items :nth-child(3) {
    break-before: auto;
  }
  .trail {
    margin: 0 15px;
    min-height: 200px;
    padding: 15px;
  }
  .trail p,
  .trail p:nth-child(2) {
    font-size: 16px;
    margin: 0 15px;
  }
  .trail button {
    padding: 0 20px;
    margin: 10px auto;
  }
  footer .wrapper {
    padding-top: 30px;
  }
  .footer__about p {
    margin: 0 20px 0 0;
  }
  .footer__services p {
    margin: 0 0 20px 0;
  }
}
@media only screen and (max-width: 480px) {
  .header .wrapper {
    justify-content: space-around;
  }
  nav .wrapper {
    flex-direction: column;
  }
  nav .wrapper a,
  nav .wrapper select {
    padding: 5px;
  }
  .good-deal {
    font-size: 20px;
    padding: 0 15px;
  }
  .cms-logo {
    margin-bottom: 20px;
  }
  .domain-name button {
    line-height: 1.5;
    padding: 10px;
  }
  .VPS-btn {
    font-size: 14px;
  }
  .question p {
    margin: 0 20px 0 20px;
  }
  .payment section div {
    margin-bottom: 30px;
  }

  .footer__social,
  .footer__about,
  .footer__services {
    margin: 0;
  }
}
